.navigation {
    padding: 10px;
    background-color: lightgray;
}

.navigation__header, .menu__header {
    text-align: center;
}

.navigation__options, .menu__options {
    border: 1px solid black;
}

.menu {
    background-color: lightskyblue;
}

.jersey__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 950px;
}

.jersey__option {
    border: 1px solid blue;
}

.jersey__team {
    text-align: center;
}